<div class="container-fluid">
    <div class="row">
        <div class="tabsection">
            <nav class="stickynav" id="nav">
                <ul>
                    <li><a href="#section1"><i class="fa fa-black-tie"></i> Owbaz for Employers<span></span></a></li>
                    <li><a href="#section2"><i class="fa fa-briefcase"></i> Owbaz for Jobseekers<span></span></a></li>
                    <li><a  class="last" href="#section3"><i class="fa fa-info-circle"></i> About Owbaz<span></span></a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
            <section id="section1" class="section">
                <div class="container-fluid">
                    <div class="col-sm-push-1 col-lg-6 col-md-3 col-sm-6 col-xs-10 mar-30 wow slideInRight" data-wow-duration="1s" data-wow-delay="1s">
                        <h2 class="hd-style01">Lorem ipsum <span>dolor sit amet</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper. Curabitur semper tellus et nisl gravida, at consectetur sapien rhoncus. Ut a elit sollicitudin, pharetra quam sed, interdum erat. Cras consectetur lobortis dictum. Fusce egestas nisi in sapien porta consequat. Nam non ullamcorper lacus, nec fermentum quam. Nunc at dignissim erat, id aliquam est.</p>
                        <p> Quisque porta est quis ultricies ultrices. Aliquam congue, enim porttitor semper venenatis, odio dolor interdum magna, ac molestie metus ligula vel sem. Mauris commodo convallis congue. Donec id tempus odio, et maximus dolor. Nam vehicula scelerisque sem, ac bibendum mauris ullamcorper quis. Sed nec neque nec purus dictum interdum. Vestibulum quis molestie augue, ut finibus diam. Vivamus nulla justo, scelerisque quis lorem at, finibus elementum purus. </p>
                        <a href="#" class="btnread wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Readmore</a></div>
                    <div class="col-sm-push-2 col-lg-3 col-md-3 col-sm-6">
                        <h3 class="hd-style01">Featured <span>Clients</span></h3>

                        <!---   Clients ------------->
                        <div class="slideshow vertical"
                             data-cycle-fx=carousel
                             data-cycle-timeout=3000
                             data-cycle-carousel-visible=2
                             data-cycle-carousel-vertical=true
                        > <img src="{{ asset('bundles/owbaz/Site/images/clients/logo-11.png') }}" width="300" height="150" alt="" /> <img src="{{ asset('bundles/owbaz/Site/images/clients/logo-22.png') }}" width="300" height="150" alt="" /> <img src="{{ asset('bundles/owbaz/Site/images/clients/logo-33.png') }}" width="300" height="150" alt="" /> <img src="{{ asset('bundles/owbaz/Site/images/clients/logo-44.png') }}" width="300" height="150" alt="" /> <img src="{{ asset('bundles/owbaz/Site/images/clients/logo-55.png') }}" width="300" height="150" alt="" /> </div>
                        <!--<img src="images/logoclients.png" width="490" height="473" alt=""  class="wow rollIn" data-wow-duration="1s" data-wow-delay="1s" /> --></div>
                </div>
                <!---   /Clients ------------->

            </section>
            <section id="section2" class="section">
                <div class="container-fluid">
                    <div class="col-lg-5"> <img src="{{ asset('bundles/owbaz/Site/images/laptop.png') }}" width="815" height="425" alt="" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" /> </div>
                    <div class="col-lg-6 mar-30 wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <h2 class="hd-style01">Lorem ipsum <span>dolor sit amet</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper. Curabitur semper tellus et nisl gravida, at consectetur sapien rhoncus. Ut a elit sollicitudin, pharetra quam sed, interdum erat. Cras consectetur lobortis dictum. Fusce egestas nisi in sapien porta consequat. Nam non ullamcorper lacus, nec fermentum quam. Nunc at dignissim erat, id aliquam est.</p>
                        <p> Quisque porta est quis ultricies ultrices. Aliquam congue, enim porttitor semper venenatis, odio dolor interdum magna, ac molestie metus ligula vel sem. Mauris commodo convallis congue. Donec id tempus odio, et maximus dolor. Nam vehicula scelerisque sem, ac bibendum mauris ullamcorper quis. Sed nec neque nec purus dictum interdum. Vestibulum quis molestie augue, ut finibus diam. Vivamus nulla justo, scelerisque quis lorem at, finibus elementum purus. </p>
                        <a href="#" class="btnread wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Readmore</a></div>
                </div>
            </section>
            <section id="section3" class="section">
                <div class="container-fluid">
                    <div class="col-xs-push-1 col-lg-4 mar-70 wow slideInRight" data-wow-duration="1s" data-wow-delay="1s">
                        <h2 class="hd-style01">Free Sign up <span>Today With Us</span></h2>
                        <div class="clearfix"></div>
                        <br />
                        <h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium.</h4>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-6"><a href="#" class="pull-right btnread wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">SignUp here</a></div>
                        <div class="col-lg-6"> <a class="btnlogin btnread wow fadeInDown" href="#" data-wow-duration="1s" data-wow-delay="1s">Login</a></div>
                    </div>
                    <div class="col-xs-push-2 col-lg-6">
                        <div class="clearfix"></div><br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ARTmxaXnEfo" frameborder="0" allowfullscreen></iframe> </div>
                </div>
            </section>
        </div>
    </div>
</div>