<footer>
    <div class="container-fluid">
        <div class="col-xs-push-1 col-lg-5"> <img src="{{ asset('bundles/owbaz/Site/images/logo-footer.png') }}" class="logoft" alt="" />
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper. Curabitur semper tellus et nisl gravida, at consectetur sapien rhoncus.</p>
            <ul class="navtrem">
                <li><a href="#">About us</a></li>
                <li><a href="#">Trems &amp; Condition</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
        <div class="col-xs-push-1 col-lg-5">
            <ul class="navft">
                <li><a href="#">Home</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Jobseekers</a></li>
                <li><a href="#">Recruiters</a></li>
                <li><a href="#">ContactUs</a></li>
            </ul>
            <ul class="navsocial">
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Mail</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-xs-push-1">
            <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper.</p>
        </div>
    </div>
</footer>

<!-----    Login PopUp ----------------->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>
                    Login        	</h3>
            </div>


            <div class="modal-body">

                <script>
                    function ValidateLoginForm(x)
                    {
                        if(x.Email.value=="")
                        {
                            document.getElementById("top_msg_header").innerHTML=
                                    "Please enter the email address!";
                            x.Email.focus();
                            return false;
                        }
                        else
                        if(x.Password.value=="")
                        {

                            document.getElementById("top_msg_header").innerHTML=
                                    "Please enter the password!";
                            x.Password.focus();
                            return false;
                        }
                        return true;
                    }
                </script>
                <div id="apply-job">
                    <form class="no-margin" action="{{ path('owbaz_users_login_check') }}" method="post" onsubmit="return ValidateLoginForm(this)">


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-10">

                                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 upper_gap control-label">Password:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <a class="pull-left margin-20 underline-link upper_gap align_forget_btn relative-top-10" href="mod-forgotten_password.html">Forgotten password?</a>
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-info" value="Login"/>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<!-----   End Login PopUp ----------------->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/owbaz/Site/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/owbaz/Site/js/jquery.cycle2.js') }}"></script>
<script src="http://malsup.github.io/jquery.cycle2.carousel.js"></script>
<script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script>
<script src="{{ asset('bundles/owbaz/Site/js/functions.js') }}"></script>
<script src="{{ asset('bundles/owbaz/Site/js/wow.js') }}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>