<footer>
    <div class="container-fluid">
        <div class="col-xs-push-1 col-lg-5"> <img src="{{ asset('bundles/owbaz/Site/images/logo-footer.png') }}" class="logoft" alt="" />
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper. Curabitur semper tellus et nisl gravida, at consectetur sapien rhoncus.</p>
            <ul class="navtrem">
                <li><a href="#">About us</a></li>
                <li><a href="#">Trems &amp; Condition</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
        <div class="col-xs-push-1 col-lg-5">
            <ul class="navft">
                <li><a href="#">Home</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Jobseekers</a></li>
                <li><a href="#">Recruiters</a></li>
                <li><a href="#">ContactUs</a></li>
            </ul>
            <ul class="navsocial">
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Mail</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-xs-push-1">
            <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod congue erat vel pretium. Duis pellentesque eget lectus quis scelerisque. Vivamus eu magna egestas lacus fringilla semper.</p>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/owbaz/Site/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/owbaz/Site/js/jquery.cycle2.js') }}"></script>
<script src="http://malsup.github.io/jquery.cycle2.carousel.js"></script>
<script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script>
<script src="{{ asset('bundles/owbaz/Site/js/functions.js') }}"></script>
<script src="{{ asset('bundles/owbaz/Site/js/wow.js') }}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>