<form action="{{ path('owbaz_employer_company_logo_upload')}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div id="detail_wrapper">      
        <div id="p_hd">Upload Image</div>
        <div class="span3">
            <div id="product_content">
                <div id="pro_detail">
                    <div class="edt_container">         
                        <div class="row-fluid show-grid">
                            <div class="span3">Select Image</div>
                            <div class="span3">{{ form_widget(form.file) }}{{ form_errors(form.file) }}</div>
                            
                        </div>     
                        <div class="row-fluid show-grid">
                            <div class="span3">&nbsp;</div>
                            <div class="span3">&nbsp;</div>
                            <div class="span3">&nbsp;</div>
                            <div class="span3">
                                {{ form_rest(form) }}
                                <div style="margin:0px 0px 0px 0px;"> <input type="submit" value="SAVE" class="btn btn-large btn-primary"/>                                     
                                </div>                                    
                            </div>
                        </div>
                    </div> 




                </div>      
            </div><!-- End pro_detail -->      
        </div><!-- End product_content --> 

</form> 
<script type="text/javascript" src="{{ asset('bundles/owbaz/Site/js/jquery-1.9.1.js') }}"></script>
<script type="text/javascript">
   $(document).ready(function() {
   $('#user_country').change(function() {
      var country= $('#user_country').val();
 	   alert(country);
	});                
        });
</script>
