

<article class="container">
    <br>
    <script type="text/javascript">
        /*
         $(init);
         
         String.prototype.trim=function(){return this.replace(/^\s+|\s+$/g, '');};
         */
        function CallBack()
        {

            document.getElementById("main_container").innerHTML =
                    top.frames['ajax-ifr'].document.body.innerHTML.trim();

            $(init);

        }
    </script>
    <div id="profileHome" class="row">
        <div class="col-md-3 hidden-sm hidden-xs welcome-left-block">

            <h1>
                Welcome {{jobseeker.FirstName }},
            </h1>


            
        </div>
        <div class="col-md-9" id="home-links-area">



            <div style="padding:10px" class="row">
                <div id="box-1" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-1" class="tile-p ui-draggable">
                        <a href="{{ path('owbaz_jobseeker_profile_edit', {'user_id': jobseeker.Id}) }}" class="home-tile box-1-back"><h3 class="h3-tile">Profile / Modify</h3>
                        </a>                    </div>
                </div>

                <div id="box-2" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-2" class="tile-p ui-draggable">
                        <a href="{{ path('owbaz_jobseeker_jobpreference', {'user_id': jobseeker.Id}) }}" class="home-tile box-2-back"><h3 class="h3-tile">Job Preferences</h3>
                        </a>                    </div>
                </div>
                        
                <div id="box-2" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-2" class="tile-p ui-draggable">
                        <a href="{{ path('owbaz_jobseeker_image', {'user_id': jobseeker.Id}) }}" class="home-tile box-2-back"><h3 class="h3-tile">Upload Image</h3>
                        </a>                    </div>
                </div>        
                        
                        
                        <div id="box-2" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-2" class="tile-p ui-draggable">
                        <a href="{{ path('owbaz_jobseeker_password_change', {'user_id': jobseeker.Id}) }}" class="home-tile box-2-back"><h3 class="h3-tile">Change Password</h3>
                        </a>                    </div>
                </div>

                <div id="box-3" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-3" class="tile-p ui-draggable">
                        <a href="" class="home-tile box-3-back"><h3 class="h3-tile">Create CV</h3>
                        </a>                    </div>
                </div>

                <div id="box-4" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-4" class="tile-p ui-draggable">
                        <a href="" class="home-tile box-6-back"><h3 class="h3-tile">Inbox</h3>
                        </a>                    </div>
                </div>

                <div id="box-5" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-5" class="tile-p ui-draggable">
                        <a href="" class="home-tile box-4-back"><h3 class="h3-tile">Interviews</h3>
                        </a>                    </div>
                </div>

                <div id="box-6" class="col-md-4 col-sm-6 col-xs-12 t-padding ui-droppable">
                    <div style="position: relative;" id="b-6" class="tile-p ui-draggable">
                        <a href="" class="home-tile box-5-back"><h3 class="h3-tile">My Documents</h3>
                        </a>                    </div>
                </div>




            </div>



        </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>

    

</article>

<style>

</style>